html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Roboto Mono";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF1D0;
}

#choices {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 200px;
    height: 200px;
}

button {
    border: none;
    background: none;
    transform-origin: bottom;
    animation-duration: 0.6s;
}

div {
    height: 212px;
    width: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.8em;
    background-color: #439A86;
    border-radius: 20px;
    color: #FFF1D0;
}

#resetButton {
    margin-top: 15px;
    background: none;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: 0.3em;
    transition: all 0.25s;
    border-radius: 10px;
    border-color: #FFF1D0;
    color: #FFF1D0;
    background-color: #393A10;
}

#resetButton:hover {
    cursor: pointer;
    border-color: #EE7674;
    color: #EE7674;
    box-shadow: 0 0.5em 0.5em -0.4em #EE7674;
    transform: translateY(-0.5em);
}

.hover:hover {
    animation: tilt-n-move-shaking 1s;
}

.bounce {
    animation-name: bounce;
    animation-iteration-count: 3;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.lose {
    animation-name: slideInDown;
}

.tie {
    animation-name: slideInUp;
}

@keyframes slideInUp {
    0% {
        transform: translate(0, 0) rotate(10deg);
    }

    10% {
        transform: translate(0, -10%);
    }

    20% {
        transform: translate(0, -20%) rotate(-10deg);
    }

    30% {
        transform: translate(0, -30%);
    }

    40% {
        transform: translate(0, -40%) rotate(10deg);
    }

    50% {
        transform: translate(0, -50%);
        opacity: 1;
    }

    60% {
        transform: translate(0, -60%) rotate(-10deg);
    }

    70% {
        transform: translate(0, -70%);
    }

    80% {
        transform: translate(0, -80%) rotate(10deg);
    }

    90% {
        transform: translate(0, -90%);
    }

    100% {
        transform: translate(0, -100%) rotate(-10deg);
        opacity: 0;
    }
}

@keyframes slideInDown {
    0% {
        transform: translate(0, 0) rotate(10deg);
    }

    10% {
        transform: translate(0, 10%);
    }

    20% {
        transform: translate(0, 20%) rotate(-10deg);
    }

    30% {
        transform: translate(0, 30%);
    }

    40% {
        transform: translate(0, 40%) rotate(10deg);
    }

    50% {
        transform: translate(0, 50%);
        opacity: 1;
    }

    60% {
        transform: translate(0, 60%) rotate(-10deg);
    }

    70% {
        transform: translate(0, 70%);
    }

    80% {
        transform: translate(0, 80%) rotate(10deg);
    }

    90% {
        transform: translate(0, 90%);
    }

    100% {
        transform: translate(0, 100%) rotate(-10deg);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-100px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    #choices {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    div {
        height: 80px;
        width: 80px;
        font-size: 1em;
    }

    #resetButton {
        font-size: 0.4em;
        margin-top: 10px;
    }

    img {
        width: 80px;
        height: 80px;
    }
}